.container {
  max-width: 1200px;
  margin: auto;
}
header {
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--backgroundColor);
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
.nexcent {
  width: 110px;
  height: 20px;
}
.nexcent-logo {
  width: 35px;
  height: 24px;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-family: var(--fontfamilySecondary);
}

nav ul li a {
  font-size: 16px;
  line-height: 24px;
  color: var(--textColor);
}
.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  align-items: center;
  font-family: var(--fontfamilySecondary);
}
.btn-group button:nth-child(1) {
  color: var(--colorSecondary);
  background-color: var(--backgroundColor);
  border: none;
}

.btn-group button:nth-child(2) {
  background-color: var(--colorSecondary);
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  color:white;
}
.btn-group button:nth-child(2):hover{
  background-color:#3c893f;
  transition: all 0.3 ease;
}

